
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'base/main';

.stl{
  position: relative;
  width: 100%;
  min-height: 100%;

  padding-top: 120px;
  padding-bottom: 100px;

  &__logo {
    flex: 0 0 auto;
    padding-right: 20px;

    color: #3b5467;
  }

  &__user {
    flex: 0 0 auto;
    max-width: 160px;
  }

  &__body {
    display: flex;

    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 40px;
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.stl-header{
  background-color: #1976D2;
  color: #ffffff;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  box-shadow: 0 3px 26px rgba(0,0,0,.16);


}

.stl-logo {
  position: relative;

  display: flex;
  align-items: center;

  color: currentColor;
  text-decoration: none;

  &__icon {
    flex: 0 0 auto;

    margin-right: 20px;

    width: 40px;
    height: 40px;

    font-size: 40px;
    color: currentColor;
  }

  &__title {
    flex: 0 0 auto;

    margin: 0;
    margin-right: 20px;

    font-size: 16px;
    line-height: 20px;
    color: currentColor;
    text-transform: uppercase;

    @media screen and (max-width: $break_sm) {
      margin-right: 0;
    }
  }

  &__description {
    flex: 0 0 auto;

    width: 220px;

    color: currentColor;
    font-size: 11px;
    line-height: 15px;

    @media screen and (max-width: $break_sm) {
      display: none;
    }
  }

}

.stl-user {
  text-align: center;

  &__trigger {
    padding: 10px;

    cursor: pointer;
  }

  &__name {
    font-size: 15px;
    line-height: 20px;
    color: #2a3e4c;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: $break_md) {
      display: none;
    }
  }

  &__icon {
    display: none;
    color: #2a3e4c;

    @media screen and (max-width: $break_md) {
      display: block;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    border: 1px solid #d3d8db;
    border-top-width: 3px;
    border-radius: 0 0 5px 5px;
    list-style: none;
    background-color: #fff;
  }

  &__item {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;

      height: 1px;
      background-color: #d3d8db;
    }

    &:last-child:after {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    text-decoration: none;

    &-icon {
      margin-right: 20px;
      color: #676f73;
    }

    &-text {
      font-size: 13px;
      font-weight: bold;
      line-height: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: #676f73;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: #d3d8db;
    }
  }
}


