html{
  overflow: auto;
  min-height: 100%;
}


.page{
  height: 100%;
  &_header {
    width: 100%;

    &__content {
      padding: 10px 0 10px 10px;
      height: 40px;
    }
  }

  &_body{
    margin-top: 5px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &_greed{
    //position: absolute;
    //top: 5px;
    //left: 0;
    //right: 0;
    //bottom: 0;
  }
}


