.tippy-tooltip.minimal-theme {
  .tippy-backdrop {
    background-color: transparent;
  }
}

.tippy-tooltip.default-theme {
  padding: 10px;
  max-width: 300px;

  font-size: 15px;
  line-height: inherit;
  color: inherit;

  border-radius: 5px;
  box-shadow: 0 3px 26px rgba(0, 0, 0, 0.16);

  .tippy-backdrop {
    background-color: #fff;

  }
}
