.disciplines{

  &_list{

  }
}

.highest{
  height: calc(100vh - 260px);
  overflow: auto; //TODO Скрол
}

.settings{
  margin-left: 10px;
  height: calc(100vh - 200px);
  overflow: auto; //TODO Скрол
}
