
.highest{
  height: calc(100vh - 260px);
  overflow: auto; //TODO Скрол
}

.settings{
  margin-left: 10px;

  &__highest{
    height: calc(100vh - 260px);
    overflow: auto; //TODO Скрол
  }

  &__form{
    margin: 10px;
  }
}
